<table>
  <thead>
  <tr>
    <th>Opened</th>
    <th>Working</th>
    <th>Emails sent</th>
    <th>Last Updated</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @connection.each do |connection| %>
      <tr>
        <td><%= connection.opened %></td>
        <td><%= connection.working %></td>
        <td><%= connection.emails %></td>
        <td><%= connection.updated_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>



<br>
<br>
<br>


Link: <a href="#">https://s3.eu-west-2.amazonaws.com/hiiive/Appliccation.exe</a>
<!---
<form>
  From:<br>
  <input type="text" name="firstname" value="">
  <br>
  To:<br>
  <input type="text" name="lastname" value="">
  <br>
  Subject:<br>
  <input type="text" name="subject" value="">
  <br>
  Email:<br>
  <textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
  <br>
  <input type="submit" value="Send">
</form>
--->